<div class = "jumbotron">
    <h1 class = "display-4">Tech News</h1>
    <button class = "btn btn-secondary btn-block btn-sm" id = "scrapeButton">Here is today's tech news</button>
</div>
<div class="container">
    <div class="row">
        <div id="articles">

        </div>
        <div id="notes">

        </div>
    </div>
</div>